In [1]:
# trabalhando com o pandas e dataframes

In [2]:
import pandas as pd

In [3]:
sal = pd.read_csv('Salaries.csv')

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
len(sal)

148654

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [15]:
salm = sal.drop('Notes', axis=1)

In [18]:
salm = salm.drop('Status', axis=1)

In [19]:
salm.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,San Francisco
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,San Francisco
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,San Francisco
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,San Francisco

In [21]:
ag_sf = salm[salm['Agency']=='San Francisco'].value_counts()

In [23]:
ag_sf.value_counts()

1    111886
dtype: int64

In [ ]:
#media do pagamento base
sal['BasePay'].mean()

In [ ]:
#maior quantidade no OvertimePay
sal['OvertimePay'].max()

In [ ]:
#cargo de JOSEPH DRISCOLL
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

In [ ]:
#quanto JOSEPH ganha incluindo beneficios
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

In [ ]:
#nome da pessoa mais bem paga
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

In [ ]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

In [ ]:
#menor salario
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

In [ ]:
#media BasePay - de todos funcionarios por ano (2011-2014)
sal.groupby('Year').mean()['BasePay']

In [ ]:
#quantos titulos de trabalhos unicos existem?
sal['JobTitle'].unique()

In [ ]:
#quantos titulos de trabalhos unicos existem? (quantidade)
sal['JobTitle'].nunique()

In [ ]:
# 5 empregos + comuns
sal['JobTitle'].value_counts().iloc[:5]

In [ ]:
#titulos de trabalho represeentado por apenas uma pessoa em 2013. Uma ocorrencia em 2013
sal[sal['Year']==2013]

In [ ]:
sal[sal['Year']==2013]['JobTitle'].value_counts()==1

In [ ]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

In [ ]:
#quantas pessoas tem a palavra 'Chief' em seu cargo?
def chief_string(title):
    if'chief' in title.lower():
        return True
    else:
        return False

In [ ]:
sal['JobTitle'].apply(lambda x: chief_string(x))

In [ ]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

In [ ]:
sal['TotalPayBenefits'].sum()

In [ ]:
#existe uma correlacao entre o comprimento da sequencia do titulo do trabalho e do salario
sal['Tamanho da string'] = sal['JobTitle'].apply(len)

In [ ]:
sal[['Tamanho da string', 'TotalPayBenefits']].corr()